[submodule "excelplay-backend-dalalbull"]
	path = excelplay-backend-dalalbull
	url = https://github.com/Excel-MEC/excelplay-backend-dalalbull
[submodule "excelplay-backend-kryptos"]
	path = excelplay-backend-kryptos
	url = https://github.com/Excel-MEC/excelplay-backend-kryptos
